@import url("https://fonts.googleapis.com/css2?family=Lora&family=Ubuntu:wght@400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

.container {
    max-width: 75%;
    margin: 0px 20%;
    font-family:"Source Code Pro";
}




